.about {
    padding: 100px 0px 0px 0px;
    display: flex;
    align-items: center;
}

.about-work {
    li {
        font-size: 18px;
        font-weight: 600;
        &:not(:last-child) {
            &::after {
                content: "";
                height: 3px;
                width: 3px;
                border-radius: 50%;
                background-color: #757575;
                margin: 0px 12px;
                position: relative;
                display: inline-block;
                top: -3px;
            }
        }
       
    }
}

.progress-bars {
    .progress {
        height: 4px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    .progress-bar {
        background: black;
    }
}

.fix {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}
