body > #root > div {
  min-height: 100vh;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}
